.cv {
    
    width: 800px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 150;
    font-size: 120%;
    background-color: rgb(62, 91, 102);
    color: beige;
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;

}

.cv:hover{
    transform: scale(1.05);
}

.cv-content {
    border-radius: 16px;
    background-color:rgb(247, 247, 228);
    align-items: center;
    list-style: none;
    margin-top: 60px;
    padding-top: 3px;
    padding-bottom: 6px;
    text-align: center;
    transition: transform 0.1s ease-in-out;
    color: rgb(68, 68, 68);

}


.cv-content:hover{
    transform: scale(1.01);
}

#presentacion{
    font-weight: 600;
}

#infoContacto{
    
    

}