@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Workbench&display=swap');

.poke-lista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.poke-div{
    background-color: rgba(189, 172, 172, 0.877);
    margin:10px auto;
    width: 400px;
    border: 10px;
    border-color: rgb(65, 64, 64);
    border-style: solid;
    border-radius: 5px;
    
}
.poke-div-content{
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Press Start 2P' ,sans-serif;
    font-size: 14px;
}   