

.container{
    width: 100%;
    background-color: rgb(136, 156, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.titulo{
    text-align: center;
    font-size: 40px;
}

.columna{
    background-color:rgb(187, 126, 45);
    font-weight: 500;

}
.uno{
    display: flex;
    flex-direction: row;
    background-color: rgb(42, 106, 165);
    height: 300px;
}

.dos{
    background-color: rgb(0, 217, 255);
    display: flex;
    flex-direction: column;
    height: 300px;

}
.tres{
    background-color: rgb(13, 83, 78);
    height: 300px;

}
.content{
    padding: 3;
}