.back-img {
    background-image: url(img/BMW-Alcaraz.webp);
    background-size: cover;
    background-position: center;
    width: 99vi;
    height: 98vh;
}

.header-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(247, 238, 238);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: aliceblue;
}

.header-container-left {
    display: flex;
    margin-left: 2%;

}

.header-container-right {
    display: flex;
    margin-right: 2%;

}

.header-content-icon{
    margin-top: 1.5vb;
    margin-right: 20px;

}

.header-content{
    text-align: center;
    margin: 10px 10px auto;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);

}
.header-content:hover{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: rgb(37, 53, 146);
    
}



@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Kanit:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Kanit:wght@300&family=Noto+Sans:wght@200&family=Open+Sans:ital,wght@1,300&family=Roboto+Mono:wght@400;600&family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');